In [10]:
# Import library to send HTTP requests
import requests

# Import Beautiful Soup for content parsing
from bs4 import BeautifulSoup

# Import Pandas to convert lists to data frames
import pandas as pd

In [12]:
# Request the webpage and get the text 
urlreq = requests.get('https://en.wikipedia.org/wiki/List_of_aircraft_accidents_and_incidents_resulting_in_at_least_50_fatalities')

#Check if the server successfully answered the HTTP request
if urlreq.status_code == 200:
    print("Successful request")
else:
    print(urlreq.status_code)

# Extract the text from the requested webpage
url = urlreq.text
                      
# Create a parse tree with BS using the lxml parser
soup = BeautifulSoup(url, 'lxml')

Successful request

In [5]:
# Extract all tables from the url
all_tables = soup.find_all('table')

# Select the required table from all acquired tables
my_table = soup.find('table', {'class':'wikitable sortable'})

In [7]:
# Create 5 lists for each column
A1 = []
A2 = []
A3 = []
A4 = []
A5 = []

# Extract data using HTML tags and append to each list
for row1 in my_table.find_all('tr'):
    cells1 = row1.find_all('th')
    if len(cells1)== 5:
        A1.append(cells1[0].find(text = True))
        A2.append(cells1[1].find(text = True))
        A3.append(cells1[2].find(text = True))
        A4.append(cells1[3].find(text = True))
        A5.append(cells1[4].find(text = True))

# Create a zipped list of the above lists
zippedlist1 = list(zip(A1,A2,A3,A4,A5))

# Convert zipped list to a data frame
df1 = pd.DataFrame(zippedlist1)

# Make the first row of the data frame as column headers
headers = df1.iloc[0]
df2 = pd.DataFrame(df1.values[1:], columns = headers)

In [8]:
#Create 8 lists for each column 
B1 = []
B2 = []
B3 = []
B4 = []
B5 = []
B6 = []
B7 = []
B8 = []

# Extract data using HTML tags and append to each list
for row2 in my_table.find_all('tr'):
    cells2 = row2.find_all('td')
    if len(cells2)== 8:
        B1.append(cells2[0].find(text = True))
        B2.append(cells2[1].find(text = True))
        B3.append(cells2[2].find(text = True))
        B4.append(cells2[3].find(text = True))
        B5.append(cells2[4].find(text = True))
        B6.append(cells2[5].find(text = True))
        B7.append(cells2[6].find(text = True))
        B8.append(cells2[7].find(text = True))

# Create a zipped list of all the above lists
zippedlist2 = list(zip(B1, B2, B3, B4, B5, B6, B7, B8))

# Convert zipped list to a data frame
df3 = pd.DataFrame(zippedlist2, columns = ['T','Incident','Aircraft','Location','Phase','Airport','Distance','Date'])

In [9]:
# Concatenate the two dataframes along the columns
DF = pd.concat([df2,df3], axis = 1)

In [10]:
# View final dataframe
DF

,Tot,C,P,G,N,T,Incident,Aircraft,Location,Phase,Airport,Distance,Date
0,"est. 1,700",11,81,"est. 1,600",†,INH,American Airlines Flight 11,Boeing 767-223ER,usnewyne,ENR,,,2001-09-11
1,"est. 1,000",9,56,est. 900,†,INH,United Airlines Flight 175,Boeing 767-222,usnewyne,ENR,,,2001-09-11
2,583,23,560,0,,COM,Pan Am Flight 1736 and,Boeing 747-121,spct,TXI/TOF,TFN,,1977-03-27
3,520,15,505,0,,COM,Japan Airlines Flight 123,Boeing 747SR-46,ju,ENR,,,1985-08-12
4,349,33,316,0,†,COM,Saudi Arabian Flight 763 and,Boeing 747-168B,indic,ENR,,,1996-11-12
5,346,11,335,0,†,COM,Turkish Airlines Flight 981,McDonnell Douglas DC-10-10,fraf,ENR,,,1974-03-03
6,329,22,307,0,†,INB,Air India Flight 182,Boeing 747-237B,atic,ENR,,,1985-06-23
7,301,14,287,0,†,COM,Saudia Flight 163,Lockheed L-1011-200 TriStar,sar,ENR,,,1980-08-19
8,298,15,283,0,†,EXG,Malaysia Airlines Flight 17,Boeing 777-2H6ER,irake,ENR,,,2014-07-17
9,290,16,274,0,†,EXG,Iran Air Flight 655,Airbus A300B2-203,irast,ENR,,,1988-07-03
10,275,18,257,0,†,MIL,Iranian Air Force (15-2280),Ilyushin Il-76MD,irake,ENR,,,2003-02-19
11,273,13,258,2,†,COM,American Airlines Flight 191,McDonnell Douglas DC-10-10,usilid,TOF,ORD,1.4 km,1979-05-25
12,270,16,243,11,†,INB,Pan Am Flight 103,Boeing 747-121,uns,ENR,,,1988-12-21
13,269,23,246,0,†,EXS,Korean Air Lines Flight 007,Boeing 747-230B,rumon,ENR,,,1983-09-01
14,265,9,251,5,†,COM,American Airlines Flight 587,Airbus A300B4-605R,usnewyb,ENR,,,2001-11-12
15,264,15,249,0,,COM,China Airlines Flight 140,Airbus A300B4-622R,jk,APR,NKM,<0.1 km,1994-04-26
16,261,14,247,0,†,COM,Nigeria Airways Flight 2120,McDonnell Douglas DC-8-61,saj,APR,JED,2.8 km,1991-07-11
17,257,10,247,0,†,MIL,Algerian Air Force (7T-WIV),Ilyushin Il-76TD,ant,ICL,,,2018-04-11
18,257,20,237,0,†,COM,Air New Zealand Flight 901,McDonnell Douglas DC-10-30,ant,ENR,,,1979-11-28
19,256,8,248,0,†,COM,Arrow Air Flight 1285,McDonnell Douglas DC-8-63CF,canne,ICL,YQX,1 km,1985-12-12
20,251,2,0,249,,COM,Air Africa (RA-26222),Antonov An-32B,demkin,ICL,NLO,0.6 km,1996-01-08
21,239,12,227,0,†,COM,Malaysia Airlines Flight 370,Boeing 777-2H6ER,indo,ENR,,,2014-03-08
22,234,12,222,0,†,COM,Garuda Indonesia Flight 152,Airbus A300B4-220,indonme,APR,MES,32 km,1997-09-26
23,230,18,212,0,†,COM,TWA Flight 800,Boeing 747-131,usnewye,ENR,,,1996-07-17
24,229,14,215,0,†,COM,Swissair Flight 111,McDonnell Douglas MD-11,canno,ENR,,,1998-09-02
25,228,12,216,0,†,COM,Air France Flight 447,Airbus A330-203,at,ENR,,,2009-06-01
26,228,22,206,0,,COM,Korean Air Flight 801,Boeing 747-3B5,usgugua,APR,GUM,4.8 km,1997-08-06
27,225,19,206,0,†,COM,China Airlines Flight 611,Boeing 747-209B,chintp,ENR,,,2002-05-25
28,224,7,217,0,†,INB,Metrojet Flight 9268,Airbus A321-231,"near Hasna,",ENR,,,2015-10-31
29,223,10,213,0,†,COM,Lauda Air Flight 004,Boeing 767-3Z9ER,thp,ENR,,,1991-05-26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,51,6,45,0,1*,COM,Air Mali (TZ-ACT),Antonov An-24B,Mali,ICL,TOM,3 km,1985-02-22
520,51,6,45,0,†,COM,Soviet Navy (CCCP-42332),Tupolev Tu-104A,rupus,ENR,,,1981-02-07
521,51,6,45,0,†,COM,Aeroflot Flight 2022,Tupolev Tu-124V,rukar,ENR,,,1973-12-16
522,51,9,42,0,†,COM,Pan Am Flight 217,Boeing 707-321B,vemai,APR,CCS,c. 9 km,1968-12-12
523,51,5,46,0,1*,COM,Austral Líneas Aéreas Flight 205,Curtiss C-46A-50-CU,argm,APR,MDQ,1.2 km,1959-01-16
524,51,7,44,0,†,COM,Panair do Brasil Flight 099,Lockheed Constellation,brsaol,ENR,,,1950-07-28
525,50,6,44,0,†,COM,Tatarstan Airlines Flight 363,Boeing 737-53A,kaz,LDG,KZN,,2013-11-17
526,50,4,45,1,†,COM,Colgan Air Flight 3407,Bombardier DHC8-402 Q400,usnewycl,APR,BUF,10 km,2009-02-12
527,50,[nb 37],[nb 38],0,†,MIL,Sudanese Air Force,Antonov An-32,suds,ENR,,,1999-06-03
528,50,6,44,0,†,COM,Stavropolskaya Aktsionernaya Avia Flight 1023,Antonov An-24RV,rucher,ENR,,,1997-03-18
529,50,4,46,0,†,COM,Philippine Airlines Flight 206,Hawker Siddeley HS 748,phmu,APR,BAG,19 km,1987-06-26
530,50,12,38,0,1*,COM,Varig Flight 797,Boeing 707-320C,cotb,APR,ABJ,18 km,1987-01-03
531,50,5,45,0,†,COM,Balkan Bulgarian Airlines (LZ-TUR),Tupolev Tu-134,buls,APR,SOF,4 km,1984-01-10
532,50,3,47,0,,COM,Spantax Flight 995,McDonnell Douglas DC-10-30,spmal,TOF,AGP,0.45 km,1982-09-13
533,50,6,44,0,†,COM,Aeropesca Colombia Flight 221,Vickers Viscount 745D,colg,ENR,,,1981-08-26
534,50,6,44,0,†,COM,Somali Airlines Flight 40,Fokker F27 Friendship 600,som,ENR,,,1981-07-20
535,50,4,46,0,†,COM,Olympic Airways Flight 830,NAMC YS-11A-500,gres,APR,KZI,19 km,1976-11-23
536,50,6,44,0,†,MIL,Royal Air Force (XV216),Lockheed C-130K Hercules C.1P,itpi,ENR,,,1971-11-09
537,50,6,44,0,1*,COM,Hughes Airwest Flight 706 and,McDonnell Douglas DC-9-31,uscad,ENR,,,1971-06-06
538,50,5,43,2,,COM,Ariana Afghan Airlines Flight 701,Boeing 727-113C,unefe,APR,LGW,2.5 km,1969-01-05
539,50,5,45,0,†,COM,All Nippon Airways Flight 533,NAMC YS-11,jse,APR,MYJ,<1 km,1966-11-13
540,50,5,45,0,,COM,Iberia (EC-ATH),Convair CV-440-62,mota,APR,TNG,18 km,1965-03-31
541,50,5,45,0,,COM,TWA Flight 800,Boeing 707-331,itf,TOF,FCO,,1964-11-23
542,50,7,43,0,†,COM,Panair do Brasil (PP-PDE),Lockheed L-049 Constellation,brma,ENR,,,1962-12-14
543,50,4,46,0,†,COM,Capital Airlines Flight 20,Vickers Viscount 745D,usvirh,ENR,,,1960-01-18
544,50,5,45,0,†,COM,Scottish Airlines (G-ANSY),Avro York,maltz,ENR,,,1956-02-18
545,50,9,41,0,†,COM,Pan Am Flight 202,Boeing 377-10-26,brsan,ENR,,,1952-04-29
546,50,6,44,0,†,COM,United Airlines Flight 615,Douglas DC-6B,uscau,APR,OAK,22 km,1951-08-24
547,50,5,45,0,†,COM,United Airlines Flight 610,Douglas DC-6,usco,ENR,,,1951-06-30
548,50,3,47,0,†,COM,Pennsylvania Central Airlines Flight 410,Douglas C-54 Skymaster,uswess,ENR,,,1947-06-13